@font-face {
    font-family: liberation;
    src: url("/LiberationSans-Regular.ttf");
}

.root {
	font-family: liberation;
}

.back {
	-fx-background-image: url("/classroom.jpg");
	-fx-background-size: 100% 100%;
}

.info {
	
	-fx-background-color: #ccc;
	-fx-background-radius: 20px;
}

.button {
	
	-fx-background-color: #fff;
	-fx-background-radius: 20px;
}

.choiceBox {
	
	-fx-background-color: #fff;
}

.tabPane {
	
	-fx-background-color: #fff;
}

.menuBar {
	
	-fx-background-color: #fff;
}

.jfx-tab-pane .tab-header-background { -fx-background-color: #dddddd; }
 
.tab {
	-fx-background-color: #fff;
}

.sidemenu {
	-fx-background-color: #dddddd;
}

.choicebox {
	-fx-background-color: #fff;
}